{{#if displayCustomHomepage}}
<div class="home-hero-banner">
        <div class="home-hero-banner-wrapper {{siteSettings.custom_homepage_wrapped}}">
        <div class="heroContent">
            <div class="herotext">
                <h1>{{siteSettings.custom_homepage_welcome}}</h1>
                <p>{{siteSettings.custom_homepage_intro}}</p>
            </div>
        </div>
    </div>
</div>
{{/if}}